body {

    background-color: rgb(77, 77, 77);
    background-image: url("../media/background.png");
    background-repeat: no-repeat;
    background-size: auto;
    font-family: Helvetica, sans-serif, Arial;
    color:rgb(255, 255, 255);
}

h1{

    justify-content: center;
    align-items: center;
    text-align: center;
}

table{
    color:black;
    opacity: 0.75;
}

hr {
    border-color: black;
}

div {
	display: flex;
}

.footer{
    position: fixed;
    left: 40%;
    bottom: 10px;
    padding-bottom: 10px;
}

.content {
  flex: 1 0 auto;
}

.box {
  background-color: rgba(153, 153, 153, 0.509);
  box-shadow: 0px 0px 20px 0px rgba(255,255,255,0.9);
  color: white;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  width: 50%;
  border-radius: 10px;
  height: 300px;
  padding: 15px;
  overflow-x: auto;
  
}

.box2 {
  background-color: rgba(0, 0, 0, 0.544);
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.38);
  color: white;
  vertical-align: bottom;
  justify-content:safe;
  width: 25%;
  height: 5%;
  border-radius: 15px;
  padding: 15px;
  
}

.flex-col {
	flex-direction: column;
}

.space-between {
	justify-content: space-between;
}

.field-with-label {
	flex-direction: column;
	width: 260px;
	margin-bottom: 8px;
}

.field-error {
	border: 2px solid crimson;
}

.form-group {
	margin-top: 20px;
}

.checkbox-label,
#omit-address2 {
	vertical-align: middle;
	font-size: 0.6rem;
}

#omit-address2 {
	margin-left: 12px;
}

#quantity-input {
	width: 80px;
}

.radio-group > label {
	color: #333;
	text-transform: none;
}

#save-button {
	background-color: #006686;
	width: 80px;
	margin-left: 10px;
}
#save-button:hover {
	background-color: #0184ac;
}

#reset-button {
	background-color: #9d1405;
}
#reset-button:hover {
	background-color: #b81706;
}

#thank-you {
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 1000px;
	margin: 30px auto 60px;
}

.button {
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    background-color: hsla(0, 0%, 0%, 0.541);
    padding: 10px 20px;
    border-color: color;
    border-radius: 10px;
    color: rgb(0, 174, 26);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    margin: 15px;
    
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: hsla(0, 0%, 21%, 0.473);
    cursor: pointer;
    position: relative;
    z-index: 0;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 15px;
    
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    
    
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #252525b4;
    left: 0;
    top: 0;
    border-radius: 10px;

}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
